.location-icon{
    
}

.ride-style-icon{

}

.avatar{
    transform: scale(1.35);
}

.icon{

}

.dashboard{
    transform: scale(1.1);
}

.status{
    padding-left: 20px;
    padding-bottom: 10px;
}

.status-button{
    height: 50px;
    width: 200px;
}

.my-info-button{
    height: 150px;
    width: 125px;
    float: right;
}

.users-button{
    width: 200px;
    height: 90px;
}

.location-button{
    height: 50px;
    width: 335px;
}

.style-buttons{
    padding-top: 10px;
    width: 335px;
}

.log-out-button{
    padding-top: 10px;
    float: right;
}

.second-row-buttons{
    padding-top: 10px;
}

.third-row-buttons{
    padding-top: 10px;
}

