body{
    background-image: url(https://secure.img1-fg.wfcdn.com/im/11330421/resize-h445%5Ecompr-r85/1302/130298963/Mountain+Mural+5+Piece+Wallpaper+Panel+Set.jpg);
}

.dashboard-header{
    background-color: #f50057;
    color: white;
    text-align: center;
    margin-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 4px;
}

.avatar{
    transform: scale(1.35);
}

.dashboard{
    transform: scale(1.1);
}

.status{
    padding-left: 20px;
    padding-bottom: 10px;
}

.status-button{
    height: 50px;
    width: 200px;
}

.my-info-button{
    height: 150px;
    width: 125px;
    float: right;
}

.users-button{
    width: 200px;
    height: 90px;
}

.location-button{
    height: 50px;
    width: 335px;
}

.style-buttons{
    padding-top: 10px;
    width: 335px;
}

.log-out-button{
    padding-top: 10px;
    float: right;
}

.second-row-buttons{
    padding-top: 10px;
}

.third-row-buttons{
    padding-top: 10px;
}

