#bio-input{    
    width: 75%;
    height: 60px;
    margin-left: 40px;
    font-size: 25px;
    padding-bottom: 5px;
}

.save-button-div{
    margin-left: 125px;
    width: 150px;
    float: center;
}

.bio-save-button{
    width: 100px;
    height: 75px;
}