#location-header{
        text-align: center;
        background-color: #ef6c00;
        color: white;
        padding: 10px;
        margin-left: 20px;
        margin-right: 20px;
}

.location-table{
    border-collapse: collapse;
    /* width: 100%; */
    margin-left: 15px;
    /* margin-right: 5px; */
}

.location-table td, .location-table th {
    border: 1px solid #ddd;
    padding: 8px;
}

.location-table tr:nth-child(even){background-color: #f2f2f2;}

.location-tabletr:hover {background-color: #ddd;}

.location-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #ff9800;
  color: white;
}

.location-table{
    background-color: white;
}

#input-state{
    width: 20%;
    height: 60px;
    margin-left: 15px;
    font-size: 25px;
    border-radius: 4px;
}

#input-resort{
    width: 45%;
    height: 60px;
    /* padding-right: 10px; */
    font-size: 25px;
    border-radius: 4px;
}

.save-button{
    height: 55px;
    width: 70px;
    align-self: top;
    background-color: #43a047;
    color: white;
    display: inline-block;
    border-radius: 8px;
    font-size: 18px;
}